/* line 3, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.logo {
  border-radius: 20px;
}

/* line 6, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.info.date {
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

/* line 11, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.leaflet-container {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Kanit" !important;
}

/* line 16, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.leaflet-container {
  cursor: default;
}

/* line 19, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.leaflet-left {
  width: 100%;
}

/* line 22, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.leaflet-right {
  font-size: 16px;
  margin-right: 25px;
}

/* line 27, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-left,
.control-right {
  width: 50%;
}

/* line 30, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-left {
  float: left;
}
/* line 32, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-left .control-box {
  float: right;
}

/* line 36, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-right {
  float: right;
}
/* line 38, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-right .control-box {
  float: left;
}

/* line 42, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box {
  width: 300px;
  margin-bottom: 20px;
}

/* line 47, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-head div.icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 5px;
  background-repeat: no-repeat;
}
/* line 54, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-head div.info {
  width: 12px;
  height: 12px;
  margin-top: 12px;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../../../../../images/user/info/info_white_blue_12.png");
}
/* line 63, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-head div.control-head-text {
  margin-left: 55px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 700;
}
/* line 69, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-head div.control-head-text span {
  color: #939598;
  font-size: 13px;
  margin-left: 5px;
}
/* line 74, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-head div.control-head-text a {
  color: inherit;
  text-decoration: none;
}

/* line 79, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-rain {
  margin-right: 20%;
}
/* line 81, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-rain .control-head div.icon {
  background-image: url("../../../../../images/user/rain/rain_white_blue_32.png");
}

/* line 85, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-waterlevel {
  margin-right: 28%;
}
/* line 87, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-waterlevel .control-head div.icon {
  background-image: url("../../../../../images/user/waterlevel/waterlevel_white_blue_32.png");
}

/* line 91, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-waterquality {
  margin-right: 28%;
}
/* line 93, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-waterquality .control-head div.icon {
  background-image: url("../../../../../images/user/waterquality/waterquality_white_blue_32.png");
}

/* line 97, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-dam {
  margin-right: 34%;
}
/* line 99, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-dam .control-head div.icon {
  background-image: url("../../../../../images/user/dam/dam_white_blue_32.png");
}

/* line 103, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-storm {
  margin-left: 35%;
}

/* line 106, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-storm .control-head div.icon {
  background-image: url("../../../../../images/user/storm/storm_white_blue_32.png");
}

/* line 109, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-clock {
  margin-left: 43%;
}
/* line 111, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-clock .control-head div.icon {
  background-image: url("../../../../../images/user/clock/clock_white_blue_32.png");
}

/* line 115, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-wave {
  margin-left: 46%;
}
/* line 117, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-wave .control-head div.icon {
  background-image: url("../../../../../images/user/wave/wave_white_blue_32.png");
}

/* line 121, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-warning {
  margin-left: 30%;
}
/* line 123, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-box-warning .control-head div.icon {
  background-image: url("../../../../../images/user/warning/warning_white_blue_32.png");
}

/* line 127, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-body {
  clear: both;
  height: 55px;
  overflow: hidden;
}
/* line 131, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-body div {
  position: relative;
  top: 0;
}

/* line 136, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-arrow {
  text-align: center;
}
/* line 139, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-arrow .fa-angle-down,
.control-arrow .fa-angle-up {
  visibility: hidden;
  cursor: pointer;
  margin: 0 .2em;
}
/* line 145, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-arrow .fa-angle-down:hover,
.control-arrow .fa-angle-up:hover {
  transform: scale(2, 2);
}
/* line 148, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-arrow.hasDown .fa-angle-down {
  visibility: visible;
}
/* line 151, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.control-arrow.hasUp .fa-angle-up {
  visibility: visible;
}

/* line 155, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label {
  display: inline;
  padding: .1em .6em .1em;
  margin: 0 .5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: inherit;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 168, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-title {
  font-size: 100%;
  color: #000;
}

/* line 172, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-red {
  background-color: #ef403d;
}

/* line 175, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-yellow {
  background-color: #ffcc4e;
}

/* line 178, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-blue {
  background-color: #00a7e1;
}

/* line 181, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-orange {
  background-color: #f36f31;
}

/* line 184, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-green {
  background-color: #50b748;
}

/* line 187, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-gray {
  background-color: #939598;
}

/* line 190, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-silver {
  background-color: #e6e7e8;
}

/* line 193, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.label-white {
  background-color: white;
}

/* line 196, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-red {
  color: #ef403d;
}

/* line 199, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-yellow {
  color: #ffcc4e;
}

/* line 202, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-blue {
  color: #00a7e1;
}

/* line 205, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-orange {
  color: #f36f31;
}

/* line 208, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-green {
  color: #50b748;
}

/* line 211, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-gray {
  color: #939598;
}

/* line 214, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-silver {
  color: #e6e7e8;
}

/* line 217, ../../../../../../../resources/assets/sass/user/leaflet.scss */
.text-white {
  color: white;
}
