@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?49ypwr');
  src:  url('fonts/icomoon.eot?49ypwr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?49ypwr') format('truetype'),
    url('fonts/icomoon.woff?49ypwr') format('woff'),
    url('fonts/icomoon.svg?49ypwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quality-water .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-quality-water .path2:before {
  content: "\e901";
  margin-left: -1.00390625em;
  color: rgb(128, 130, 133);
}
.icon-quality-water .path3:before {
  content: "\e902";
  margin-left: -1.00390625em;
  color: rgb(35, 31, 32);
}
.icon-quality-water .path4:before {
  content: "\e903";
  margin-left: -1.00390625em;
  color: rgb(255, 255, 255);
}
.icon-quality-water .path5:before {
  content: "\e904";
  margin-left: -1.00390625em;
  color: rgb(255, 255, 255);
}
.icon-quality-water .path6:before {
  content: "\e905";
  margin-left: -1.00390625em;
  color: rgb(255, 255, 255);
}
.icon-forecast-rain:before {
  content: "\e906";
}
.icon-water-level:before {
  content: "\e907";
}
.icon-wave:before {
  content: "\e908";
}
.icon-storm:before {
  content: "\e909";
}
.icon-dam:before {
  content: "\e90a";
}
.icon-rain:before {
  content: "\e90b";
}
.icon-water-quality:before {
  content: "\e947";
}
.icon-rain-forcast:before {
  content: "\e94e";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-bullhorn:before {
  content: "\e91a";
}
