@CHARSET "ISO-8859-1";

table.no-thead thead{
    display: none;
}

table th{
    text-align: center;
}

#modal-weather-table,
#modal-agency-table{
    max-height: 650px;
}
#modal-agency-table td:nth-child(1),
#modal-agency-table td:nth-child(2){
    text-align: center;
}
