.logo {
  border-radius: 20px; }

.info.date {
  background-color: white;
  border-radius: 3px;
  text-align: center; }

.leaflet-container {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Kanit" !important; }

.leaflet-container {
  cursor: default; }

.leaflet-left {
  width: 100%; }

.leaflet-right {
  font-size: 16px;
  margin-right: 25px; }

.control-left,
.control-right {
  width: 50%; }

.control-left {
  float: left; }
  .control-left .control-box {
    float: right; }

.control-right {
  float: right; }
  .control-right .control-box {
    float: left; }

.control-box {
  width: 300px;
  margin-bottom: 20px; }

.control-head div.icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 5px;
  background-repeat: no-repeat; }

.control-head div.info {
  width: 12px;
  height: 12px;
  margin-top: 12px;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../../../../../images/user/info/info_white_blue_12.png"); }

.control-head div.control-head-text {
  margin-left: 55px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 700; }

.control-head div.control-head-text span {
  color: #939598;
  font-size: 13px;
  margin-left: 5px; }

.control-head div.control-head-text a {
  color: inherit;
  text-decoration: none; }

.control-box-rain {
  margin-right: 20%; }
  .control-box-rain .control-head div.icon {
    background-image: url("../../../../../images/user/rain/rain_white_blue_32.png"); }

.control-box-waterlevel {
  margin-right: 28%; }
  .control-box-waterlevel .control-head div.icon {
    background-image: url("../../../../../images/user/waterlevel/waterlevel_white_blue_32.png"); }

.control-box-waterquality {
  margin-right: 28%; }
  .control-box-waterquality .control-head div.icon {
    background-image: url("../../../../../images/user/waterquality/waterquality_white_blue_32.png"); }

.control-box-dam {
  margin-right: 34%; }
  .control-box-dam .control-head div.icon {
    background-image: url("../../../../../images/user/dam/dam_white_blue_32.png"); }

.control-box-storm {
  margin-left: 35%; }

.control-box-storm .control-head div.icon {
  background-image: url("../../../../../images/user/storm/storm_white_blue_32.png"); }

.control-box-clock {
  margin-left: 43%; }
  .control-box-clock .control-head div.icon {
    background-image: url("../../../../../images/user/clock/clock_white_blue_32.png"); }

.control-box-wave {
  margin-left: 46%; }
  .control-box-wave .control-head div.icon {
    background-image: url("../../../../../images/user/wave/wave_white_blue_32.png"); }

.control-box-warning {
  margin-left: 30%; }
  .control-box-warning .control-head div.icon {
    background-image: url("../../../../../images/user/warning/warning_white_blue_32.png"); }

.control-body {
  clear: both;
  height: 55px;
  overflow: hidden; }
  .control-body div {
    position: relative;
    top: 0; }

.control-arrow {
  text-align: center; }
  .control-arrow .fa-angle-down,
  .control-arrow .fa-angle-up {
    visibility: hidden;
    cursor: pointer;
    margin: 0 .2em; }
  .control-arrow .fa-angle-down:hover,
  .control-arrow .fa-angle-up:hover {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); }
  .control-arrow.hasDown .fa-angle-down {
    visibility: visible; }
  .control-arrow.hasUp .fa-angle-up {
    visibility: visible; }

.label {
  display: inline;
  padding: .1em .6em .1em;
  margin: 0 .5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: inherit;
  vertical-align: baseline;
  border-radius: .25em; }

.label-title {
  font-size: 100%;
  color: #000; }

.label-red {
  background-color: #ef403d; }

.label-yellow {
  background-color: #ffcc4e; }

.label-blue {
  background-color: #00a7e1; }

.label-orange {
  background-color: #f36f31; }

.label-green {
  background-color: #50B748; }

.label-gray {
  background-color: #939598; }

.label-silver {
  background-color: #e6e7e8; }

.label-white {
  background-color: #ffffff; }

.text-red {
  color: #ef403d; }

.text-yellow {
  color: #ffcc4e; }

.text-blue {
  color: #00a7e1; }

.text-orange {
  color: #f36f31; }

.text-green {
  color: #50B748; }

.text-gray {
  color: #939598; }

.text-silver {
  color: #e6e7e8; }

.text-white {
  color: #ffffff; }

/*# sourceMappingURL=leaflet.css.map */
