.main-header{
    border-bottom: 10px solid #939598;
}
.main-header .sidebar-toggle:before{
    content: " ";
}
.main-header > .navbar{
    /*padding: 10px 15px;*/
}
.main-header > .navbar, .content-wrapper, .right-side, .main-footer{
    margin-left: 0;
}
.skin-blue-light .main-header .navbar {
    background-color: #0393EC;
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-blue-light-use .main-header .navbar .nav>li>a {
    color: #fff;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover,
.skin-blue-light .main-header .navbar .nav>li>a:hover,
.skin-blue-light .main-header .navbar .nav>li>a:active,
.skin-blue-light .main-header .navbar .nav>li>a:focus,
.skin-blue-light .main-header .navbar .nav .open>a,
.skin-blue-light .main-header .navbar .nav .open>a:hover,
.skin-blue-light .main-header .navbar .nav .open>a:focus,
.skin-blue-light .main-header .navbar .nav>.active>a {
    background-color: #ffffff;
    color: #00a7e1;
    border-radius: 10px;
}
.skin-blue-light .main-footer{
    background-color: #0393EC;
    color: #fff;
}
.content-wrapper, .right-side {
    background-color: #ffffff;
}
.content-header ol.breadcrumb{
    font-size: 16px;
}
.box{
    border-top: inherit;
    box-shadow: none;
}
.skin-blue-light .box-header.with-border {
    border-bottom-color: #00a7e1;
}
.breadcrumb{
    background-color: inherit;
}
.breadcrumb>li+li:before {
    content: "|";
}
.nav-stacked.nav-scrollspy{
    display: none;
    position: fixed;
    width: 16%;
    text-align: right;
}
@media (min-width: 768px){
    .nav-stacked.nav-scrollspy {
        display: inherit;
    }
}
.nav-stacked>li+li {
    margin-top: 0;
}
.nav-stacked > li {
    border-radius: 0;
    border: 0 solid transparent;
    border-right-width: 3px;
    border-right-color: #00a7e1;
    color: #444;
}
.nav-stacked > li > a{
    border: none;
}
.nav-stacked > li.active,
.nav-stacked > li.active:hover {
    background: transparent;
    color: #444;
    border-color:#00a7e1;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 3px;
    border-right: none;
}
.footer .breadcrumb{
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
}
